*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Teko';
  height: 100%;
  background: #833ab4; 
  background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
  background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.todo__form{
  border-radius: 4px;
  max-width: fit-content;
  margin: 10.3px auto;
}
.home__inner{
  text-align: center;
  justify-content: center;
}
.todoshka{
  justify-content: space-between;
  display: flex;
}
.del{
  height: 19px;
}
.pen{
  height: 21.3px;
}
.todo__item{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 350.77px;
  padding-left: 4.4px;
  background-color: azure;
  align-items: center;
  margin-bottom: 13px;
}
.chbx{
  margin-top: 4.5px;
}
.todo__list{
  margin: 0 auto;
  text-align: left;
  background-color: rgb(241, 241, 241);
  overflow: auto;
  line-break: anywhere;
  max-width: 430px;
  height: 353.30px;
}